
$serif: 'PT Serif', serif;
$sans: 'Nunito', sans-serif;

$black: #191919;
$mint: #c0e8dd;
$rose: #f6d9ea;
$lilac: #d2d5ea;
$gray: #f3f3f5;
$rose-light: #fbf1f7;

body {
    width: 85%;
    margin-left:auto;
    margin-right:auto;
}

#cookieTown,
#bestSellers {
    width: 95%;
    margin-left:auto;
    margin-right:auto;
}

#itemPage {
    width: 85%;
    margin-left:auto;
    margin-right:auto;
}

.serif {
    font-family: $serif;
}

.mainH1 {
  position: absolute;
  color: #fff;
  top: 25%;
  left: 10%;
  z-index: 20;
}

h1 {
    font-family: $sans;
    font-size: 1.75rem;
    font-weight: 100;
}

.h1-lrg {
    font-size: 3rem;
}

h2 {
    font-family: $sans;
    font-size: 1.75rem;
}

h3 {
        font-family: $sans;
        font-size: .75rem;
    }

p {
    font-family: $serif;
    font-size: .75rem;
}

a {
    color: $black;
    text-decoration: none;
    font-size: .75rem;
}

a:hover {
    color: $black;
    text-decoration: none;
}

a:active {
    color: $rose;
}

li {
    list-style-type: none;
}


.title {
    font-size: 1.5rem;
    font-family: $serif;
    color: $black;
}

.rose {
    background-color: $rose;
}

.gray {
    background-color: $gray;
}

.rose-light {
    background-color: $rose-light;
}

.rose-text {
    color: $rose;
}

.icon {
    width: 25px;
    height: 25px;
}

footer {
    color: $black;
    h3 {
        padding-left: 2.5rem;
    }
    li {
        font-family: $serif;
        font-size: .75rem;
    }
    p {
        font-family: $serif;
        font-size: .75rem;
        padding-left: 2.5rem;
    }
}

.shop-img {
    width: 100%;
}

.insta-img {
    width: 17rem;
    height: 17rem;
}

.card {
        position: relative;
        display: inline-block;
}

    .card .img-top {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
}
.card:hover .img-top {
        display: inline;
}

.btn {
    a{
        font-size: 1rem;
    }
  font-family: $sans;
  color: $black;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-radius: 0;
}

.btn:hover {
    a{
        color: $black;
        font-size: 1rem;
    }
  background: #fff;
  text-decoration: none;
}

.btnneg {
    a{
        font-size: 1rem;
        color: #fff;
    }
  font-family: $sans;
  background: $black;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-radius: 0;
}

.btnneg:hover {
    a{
        color: #fff;
        font-size: 1rem;
    }
  background: $black;
  text-decoration: none;
}

#accordion {
    border-top: 1px solid $black;
}

.card-header {
    background-color: $gray;
    box-shadow: none;
    border-bottom: 1px solid $black;
}

.btnCord,
.btnCord:active,
.btnCord:hover {
    a{
        color: $black;
        font-size: 1rem;
        text-decoration: none;
    }
    font-size: 1rem;
    color: $black;
    font-family: $sans;
    background: $gray;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 0;
}

.plusBorder {
    border-top: 1px solid $black;
}

.card {
    border: none;
}

.line {
    border-bottom: 1px solid $black;
}

.borderBtn {
    a{
        font-size: .75rem;
    }
  font-family: $sans;
  color: $black;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 1px solid $black;
  border-radius: 0;
  margin-bottom: -25px;
}

.shop-gallery {
    width: 100%;
}

.galBtn {
    width: 40px;
    border: none;
    background: none;
}

.galImg {
    width: 40px;
    height: 40px;
}