
$serif: 'PT Serif', serif;
$sans: 'Nunito', sans-serif;

$black: #191919;
$mint: #c0e8dd;
$rose: #f6d9ea;
$lilac: #d2d5ea;
$gray: #f3f3f5;
$rose-light: #fbf1f7;

body {
    width: 85%;
    margin-left:auto;
    margin-right:auto;
}

#cookieTown {
    width: 95%;
    margin-left:auto;
    margin-right:auto;
}

h1 {
    font-family: $sans;
    font-size: 1.75rem;
    font-weight: 100;
}

h3 {
        font-family: $sans;
        font-size: .75rem;
    }

p {
    font-family: $serif;
    font-size: .75rem;
}

a {
    color: $black;
    text-decoration: none;
    font-size: .75rem;
}

a:hover {
    color: $black;
    text-decoration: none;
}

a:active {
    color: $rose;
}

li {
    list-style-type: none;
}


.title {
    font-size: 1.5rem;
    font-family: $serif;
    color: $black;
}

.rose {
    background-color: $rose;
}

.gray {
    background-color: $gray;
}

.rose-light {
    background-color: $rose-light;
}

.rose-text {
    color: $rose;
}

.icon {
    width: 25px;
    height: 25px;
}

footer {
    color: $black;
    h3 {
        padding-left: 2.5rem;
    }
    li {
        font-family: $serif;
        font-size: .75rem;
    }
    p {
        font-family: $serif;
        font-size: .75rem;
        padding-left: 2.5rem;
    }
}

.shop-img {
    width: 275px;
    height: 275px;
}

.card {
        position: relative;
        display: inline-block;
}

    .card .img-top {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
}
.card:hover .img-top {
        display: inline;
}